/*
 * @Description: utils
 * @Author: 执念
 * @Date: 2019-08-27 16:03:15
 * @LastEditTime: 2019-08-27 16:07:59
 * @LastEditors: Please set LastEditors
 */
module.exports = {
  // 对温度处理
  humidity: function(h) {
    if (h) {
      return '湿度' + h + '%'
    }
    return h
  },
  // 根据风的code和风力计算相应值
  wind: function (code, level) {
    if (!code) {
      return '无风'
    }
    if (level) {
      level = level.toString().split('-')
      level = level[level.length - 1]
      return code + ' ' + level + '级'
    }

    return code
  }
}